/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

/* RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------------------------------------------------------------------------------------ */

:root {
    /* Primary */

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */

    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background: hsl(0, 0%, 95%);
    --headings: hsl(0, 0%, 95%);
    --buttons: hsl(0, 0%, 95%);
}

/* BODY FONT SIZE */
body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 40px 20px;
}

.container .cards-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.container .cards-container .card {
    padding: 40px;
    max-width: 300px;
}

.container .cards-container .card-one {
    background-color: var(--bright-orange);
    border-radius: 10px 10px 0 0;
}

.container .cards-container .card-two {
    background-color: var(--dark-cyan);
}

.container .cards-container .card-three {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.container .cards-container .card .icon {
    margin-bottom: 2em;
}

.container .cards-container .card .card-title {
    color: var(--headings);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.container .cards-container .card .card-text {
    color: var(--paragraphs);
    line-height: 1.6;
    margin-bottom: 1.5em;
}

.container .cards-container .card .btn {
    outline: none;
    background: var(--buttons);
    border: 2px solid var(--buttons);
    padding: 10px 30px;
    border-radius: 30px;
}

.container .cards-container .card .btn:hover {
    background: transparent;
}

.container .cards-container .card .btn.btn-link {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
}

.container .cards-container .card .btn-one {
    color: var(--bright-orange);
}

.container .cards-container .card .btn-two {
    color: var(--dark-cyan);
}

.container .cards-container .card .btn-three {
    color: var(--very-dark-cyan);
}

.container .cards-container .card .btn-one:hover,
.container .cards-container .card .btn-two:hover,
.container .cards-container .card .btn-three:hover {
    color: var(--buttons);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-top: 2em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 375px) {
    .container .cards-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .container .cards-container .card-one {
        border-radius: 10px 0 0 10px;
    }
    
    .container .cards-container .card-three {
        border-radius: 0 10px 10px 0;
    }

    .container .cards-container .card .card-text {
        margin-bottom: 5.5em;
    }
}
